body {
  font-family: 'Lato', sans-serif;
  /* background-color: #f7c5c5; */
  background-color: #634796;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.start-button {
  font-family: 'Lato', sans-serif;
  background-color: #1db954;
  font-size: 18px;
  color: white;
  padding: 12px 48px 14px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 80px;
}

.title {
  margin-top: 150px;
  font-size: 44px;
  color: white;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  color: white;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.mood-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
}

.username {
  text-align: center;
  font-size: 26px;
  color: white;
}

.bpm {
  text-align: center;
  font-size: 36px;
  color: white;
}

.radar-chart-container {
  align-self: center;
  height: 50vh;
  width: 70vw;
}

.happy1 {
  background-image: linear-gradient(to bottom right, #f7a278, #f7c7db);
}
.happy2 {
  background-image: linear-gradient(to bottom right, #f49f0a, #c0dfa1);
}

.chill1 {
  background-image: linear-gradient(to bottom right, #c0dfa1, #4ea5d9);
}
.chill2 {
  background-image: linear-gradient(to bottom right, #ffd3ba, #17bebb);
}

.sad1 {
  background-image: linear-gradient(to bottom right, #b0c6ce, #8b687f);
}
.sad2 {
  background-image: linear-gradient(to bottom right, #1789fc, #8b687f);
}
